body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg-blue {
    background-color: #03A9F5;
}
.hero-bg {
    background-image: url(../img/bg-hero.jpg);
    background-size: cover;
    background-position: bottom center;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        background-color: red;
        
    }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        background-color: red;
        
    }
        .left-column {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right-column {
            display: inline-block;
            width: 40%;
            float: right;
        }
        .socials {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
        }
        .footer-texts {
            display: inline-block;
            width: 600px;
            margin-left: calc((100% - 600px) / 2);
        }

        @media (max-width: 1100px) {
            .row {
                width: 800px;
                margin-left: calc((100% - 800px) / 2);
            }
        }
        
        @media (max-width: 900px) {
            .row {
                width: 600px;
                margin-left: calc((100% - 600px) / 2);
            }
                .left-column {
                    width: 100%;
                    margin-bottom: 60px;
                }
                .right-column {
                    width: 100%;
                    float: left;
                }
        }
        
        @media (max-width: 700px) {
            .hero-row {
                width: 400px;
                margin-left: calc((100% - 400px) / 2);
            }
            .row {
                width: 400px;
                margin-left: calc((100% - 400px) / 2);
            }
            .footer-texts {
                width: 400px;
                margin-left: calc((100% - 400px) / 2);
            }
        }
        
        @media (max-width: 500px) {
            .container {
                padding-left: 20px;
                padding-right: 20px;
            }
            .hero-row {
                width: 100%;
                margin-left: 0;
            }
            .row {
                width: 100%;
                margin-left: 0;
            }
            .footer-texts {
                width: 100%;
                margin-left: 0;
            }
        }