body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        text-align: center;
        
    }
        .hero-row > .logo {
            display: inline-block;
            height: 60px;
            width: 100%;
            margin-bottom: 30px;
            object-fit: contain;
            object-position: center;
        }
        title {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 10px;
        }
        .subtitle {
            display: inline-block;
            width: 100%;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 60px;
        }
        .clock {
            margin-bottom: 60px;
        }
        .hero-row > .form {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        
    }
        .left-column {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right-column {
            display: inline-block;
            width: 40%;
            float: right;
        }
            .column-title{
                display: inline-block;
                width: 100%;
                margin-bottom: 15px;

            }
            .column-p {
                display: inline-block;
                width: 100%;
                font-size: 18px;
                margin-bottom: 15px;
            }
        .socials {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
        }
        .footer-texts {
            display: inline-block;
            width: 600px;
            margin-left: calc((100% - 600px) / 2);
        }
        .bg-blue {
            background-color: #03A9F5;
        }
        .hero-bg {
            background-image: url(../img/bg-hero.jpg);
            background-size: cover;
            background-position: bottom center;
        }

        @media (max-width: 1100px) {
            .row {
                width: 800px;
                margin-left: calc((100% - 800px) / 2);
            }
        }
        
        @media (max-width: 900px) {
            .row {
                width: 600px;
                margin-left: calc((100% - 600px) / 2);
            }
                .left-column {
                    width: 100%;
                    margin-bottom: 60px;
                }
                .right-column {
                    width: 100%;
                    float: left;
                }
        }
        
        @media (max-width: 700px) {
            .hero-row {
                width: 400px;
                margin-left: calc((100% - 400px) / 2);
            }
            .row {
                width: 400px;
                margin-left: calc((100% - 400px) / 2);
            }
            .footer-texts {
                width: 400px;
                margin-left: calc((100% - 400px) / 2);
            }
        }
        
        @media (max-width: 500px) {
            .container {
                padding-left: 20px;
                padding-right: 20px;
            }
            .hero-row {
                width: 100%;
                margin-left: 0;
            }
            .row {
                width: 100%;
                margin-left: 0;
            }
            .footer-texts {
                width: 100%;
                margin-left: 0;
            }
        }