body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg-blue {
    background-color: #03A9F5;
}

.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        
    }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        
    }
        .left-column {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right-column {
            display: inline-block;
            width: 40%;
            float: right;
        }
        .socials {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid white;
        }
        .footer-texts {
            display: inline-block;
            width: 600px;
            margin-left: calc((100% - 600px) / 2);
        }
